@import "tailwindcss";

:root {
  --color-bg: var(--color-white);
  --color-fg: var(--color-black);
  --color-fg-muted: var(--color-gray-300);

  --color-primary: oklch(0.5973 0.2237 279.77);
  --color-primary-hover: oklch(0.5406 0.2237 279.77);
  --color-primary-active: oklch(0.5181 0.2237 279.77);
  --color-on-primary: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-gray-900);
    --color-fg: var(--color-white);
    --color-fg-muted: var(--color-gray-500);

    --color-primary: oklch(0.5973 0.1897 279.77);
    --color-primary-hover: oklch(0.5406 0.1897 279.77);
    --color-primary-active: oklch(0.5181 0.1897 279.77);
    --color-on-primary: var(--color-white);
  }
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-fg-muted: var(--color-fg-muted);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);
  --color-on-primary: var(--color-on-primary);
}
